.header {
    display: flex;
    background: #FFFFFF;
    min-height: 7vh;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: black;
}

.header-logo {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.header-nav-button {
    padding-left: 1rem;
    color: #6E68FE;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-nav-button-unselected {
    padding-left: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}


.header-nav-button-underline {
    position: relative;
    background: #6E68FE;
    min-width: 100%;
    min-height: 0.25rem;
}

.header-new-post-button {
    background: #6E68FE;
    border-radius: 4px;
    border-style: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    padding: 0.5rem 1rem;
    position: relative;
    text-decoration: none;
    font-size: medium;
}

.header-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 0.2rem 2rem;
}

.header-search-button {
    background: none;
    border-style: none;
    position: absolute;
    left: 35px;
    z-index: 9999;
    cursor: pointer;
}

.header-user-icon {
    border-radius: 50%;
    max-height: 2.5rem;
}

.main-body {
    margin-top: 20rem;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.profile-header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -15rem;
    background: #FCFCFC;
    width: auto;
    color: black;
    border-radius: 25px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 10rem;
    margin: 0 6rem;
}

.profile-header-box-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-width: 50%;
    background: #FCFCFC;
    color: black;
}

.profile-header-box-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 50%;
    background: #FCFCFC;
    color: black;
}

.profile-header-box-right-followers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    color: black;
    padding-bottom: 2rem;
}

.profile-header-box-right-followers-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background: #FCFCFC;
    color: black;
    font-size: 22px;
}

.follower-divider {
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 2rem;
}

.profile-header-box-right-edit-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 10px;
    border: 1px solid #5D5FEF;
    border-radius: 4px;
    background: #FFFFFF;
    color: #5D5FEF;
    width: 100%;
    cursor: pointer;
}

.profile-header-box-left-image {
    border-radius: 50%;
    max-height: 14rem;
    position: relative;
    border: #5D5FEF 1px solid;
    margin-left: -5rem;
}

.profile-header-box-left-bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    color: black;
    font-size: 22px;
    margin-left: 1rem;
    padding-right: 6rem;
}

.profile-header-box-left-bio-username {
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-header-box-left-bio-bio {
    font-size: 1rem;
}


.posts-tagged-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10rem;
    width: 100%;
    color: black;
    padding-bottom: 2rem;
}

.switcher-button {
    padding-left: 1rem;
    color: #6E68FE;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switcher-button-unselected {
    padding-left: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}


.switcher-button-underline {
    position: relative;
    background: #6E68FE;
    min-width: 100%;
    min-height: 0.25rem;
}

.new-post-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background: #FCFCFC;
    top: -10rem;
    width: auto;
    color: black;
    border-radius: 25px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 0 0.5rem 10rem;
}

.new-post-box-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background: #FCFCFC;
    color: black;
    margin-left: -9rem;
    margin-right: 1.5rem;
}

.new-post-box-right {
    padding: 0 1.2rem 0 1.2rem;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.new-post-box-textarea {
    width: 30rem;
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
    border: 2px solid #C6C4F5;
    border-radius: 20px;
    margin-bottom: 1rem;
    background: #EEEEEE;
}

.new-post-popup-text-input {
    width: 30rem;
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
    border: 2px solid #C6C4F5;
    border-radius: 20px;
    margin-bottom: 1rem;
    background: #EEEEEE;
}

.new-post-box-profile-picture {
    border-radius: 50%;
    max-height: 6rem;
    border: #5D5FEF 1px solid;
}

.new-post-box-right-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.new-post-box-right-bottom-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
    font-size: 17px;
}

.new-post-box-right-bottom-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.new-post-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.new-post-button-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.new-post-box-right-bottom-right-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 6px;
    margin-left: 9.5rem;
    background: #6E68FE;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 16px;
    min-width: 5rem;
    position: relative;
    float: right;
}

.post-box {
    display: flex;
    flex-direction: column;
    background: #FCFCFC;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: black;
    top: -4rem;
    position: relative;
    margin-bottom: 5rem;
}

.post-box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.post-user-info {
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.post-box-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
}

.post-box-profile-image {
    border-radius: 50%;
    max-height: 3rem;
    border: #5D5FEF 1px solid;
}

.post-box-username {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.post-box-ellipsis {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 28rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.post-box-body-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
}

.post-box-body-right {
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
}

.post-image-bio {
    font-size: 12px;
    text-align: left;
    width: 100%;
    margin: 1rem -2rem 0 0.5rem;
}

.post-likes-dislikes-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.likes-dislikes-counter {
    font-size: 13px;
    font-weight: bold;
}

.likes-dislikes-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    width: 20%;
}

.likes-dislikes-buttons button {
    background: none;
    border: none;
}

.like-button {
    cursor: pointer;
    color: #5D5FEF;
    font-size: 1.5rem;
}

.dislike-button {
    cursor: pointer;
    color: red;
    font-size: 1.5rem;
}

.add-comment-box {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.comments-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    text-end-overflow: wrap;
    overflow-x: auto;
    position: relative;
    top: -4rem;
    height: 20rem;
}

.add-comment-box-textarea {
    width: 15rem;
    height: 1rem;
    padding: 0.2rem 0.5rem;
    border: 2px solid #C6C4F5;
    border-radius: 20px;
    background: #EEEEEE;
}

.new-comment-profile-pic {
    position: relative;
    margin-right: 1rem;
    border-radius: 50%;
    max-height: 2rem;
    border: #5D5FEF 1px solid;
}

.comment-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0 0;
    width: 100%;
    font-size: 11px;
    text-align: left;
    margin-bottom: 1rem;
}

.comment-user-identifier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.comment-object-profile-pic {
    border-radius: 50%;
    max-height: 1.5rem;
    margin-right: 0.5rem;
    border: #5D5FEF 1px solid;
}

.comment-object-name {
    font-size: 0.7rem;
    font-weight: lighter;
}

.comment-object-text {
    margin-top: 0.75rem;
}

.login-button {
    background: #6E68FE;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 16px;
    padding: 0.25rem 1rem;
}

.entry-container {
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.login-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;

    color: #6B778C;
}

.login-input {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px;
    gap: 10px;


    background: #FFFFFF;
    /* Border */

    border: 2px solid #C6C4F5;
    border-radius: 4px;
    width:100%;
}

.register-button {
    background: #6E68FE;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 16px;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.register-button-container {
    width: 20%;
    margin: auto;
}

.profile-header-box-right-follow-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 10px;
    border: 1px solid #5D5FEF;
    border-radius: 4px;
    background: #5D5FEF;
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
}

.logo-container {
    margin: 0 auto;
    width:50%;
}

.new-post-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.new-post-popup-body {
    position: relative;
    min-width: 50%;
    min-height: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.new-post-popup-body-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
    vertical-align: top;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1rem;
}

.new-post-popup-body-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: auto;
}

.new-post-image {
    max-width: 15rem;
    margin-bottom: 0.5rem;
}

.new-post-image-img {
    max-width: 100%;
    max-height: 100%;
}

.new-post-popup-body-top-close-icon {
    position: relative;
    cursor: pointer;
}

.new-post-popup-header {
    margin: auto;
}

.new-post-popup-next {
    background: #6E68FE;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    padding: 0.25rem 1rem;
    position: relative;
}

.next-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.new-post-popup-tag-people {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: auto;
    cursor: pointer;
}

.new-post-popup-tag-people-text {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.fa-user {
    margin-right: 1rem;
    font-size: 1.05rem;
    align-self: center;
}

.fa-chevron-right {
    font-size: 1.05rem;
    align-self: center;
}

.new-post-popup-visibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    cursor: pointer;
}

.new-post-popup-visibility-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-around;
    margin: auto;
}

.fa-eye {
    margin-right: 1rem;
    font-size: 1.05rem;
    align-self: center;
}

.visibility-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-right: -3rem;
}

.new-post-popup-visibility-select {
    width: 50%;
    margin-right: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.visibility-selector-label {
    font-size: 0.8rem;
    color: black;
}

.visibility-selector {
    width: 100%;
}

.new-post-popup-comments-toggle-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-around;
    margin: auto;
}

.fa-comment {
    margin-right: 1rem;
    font-size: 1.05rem;
    align-self: center;
}

.new-post-popup-allow-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 0.5rem;
}

.new-post-popup-allow-comments-text {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin-left: 0.8rem;
}

.new-post-popup-allow-comments-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.new-post-popup-allow-comments-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    padding-top: 100px
}

.login-top-dock {
    margin: 0 auto;
    width: 52%;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 2px solid #C6C4F5;
    border-radius: 7px;
}

.signup-container {
    margin:auto;
    width:40%;
}

.submit-container {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}